<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotImaging.Drawing" version="4.8.3" targetFramework="net45" />
  <package id="DotImaging.GenericImage" version="4.8.3" targetFramework="net45" />
  <package id="DotImaging.Primitives2D" version="4.8.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Fast-Bitmap" version="1.1.2" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="MaterialDesign.dll" version="1.0.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net45" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net45" />
  <package id="shim" version="2.0.1" targetFramework="net45" />
  <package id="shim.drawing" version="3.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.107.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net45" />
  <package id="ZKWeb.System.Drawing" version="4.0.1" targetFramework="net45" />
</packages>